[Unit]
Description=Timer for Net testing and provider switching

[Timer]
OnBootSec=20
OnUnitActiveSec=20
AccuracySec=1

[Install]
WantedBy=timers.target
